@import "mocha.css";

* {
    font-family: "CaskaydiaCove Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: rgba(23, 23, 23, 1);
    color: @text;
    border-bottom: 2px solid @bg0;
}

/* --- The Pill Containers --- */
#clock,
#custom-power,
#workspaces,
#hardware, 
#tools,
#mpris {
    background-color: @bg0;
    padding: 4px 10px;
    margin: 4px 4px;
    border-radius: 20px;
    border: 1px solid @subtext0;
}

/* --- Hardware Colors --- */
#disk { color: @orange; }
#cpu { color: @blue; }
#memory { color: @green; }
#custom-gpu { color: @text; }

/* --- Tools Colors --- */
#network { color: @blue; }
#pulseaudio { color: @yellow; }
#battery { color: @green; }
#battery.warning { color: @orange; }
#battery.critical { color: @red; }
#custom-watts { color: @red; }

/* Wallpaper Module */
#custom-wallpaper {
    color: @subtext1; /* Light grey/blue text */
    padding-left: 8px;
}

/* Ensure internal modules don't have their own background */
#hardware *, 
#tools * {
    background: transparent;
    padding: 0 6px;
    margin: 0;
    border: none;
    border-radius: 0;
}

/* --- Standalone Modules --- */
#clock {
    color: @text;
    padding: 4px 14px;
}

/* Power Button */
#custom-power {
    background: transparent; 
    border: none;            
    border-radius: 0;
    color: @red;
    padding: 0 10px;    
    margin-right: 10px;
    min-width: 20px;
    font-size: 16px;
}

/* Spotify (MPRIS) Style */
#mpris {
    color: @green;
}

#mpris.paused {
    color: @subtext0;
}

/* --- Workspaces --- */
#workspaces button {
    padding: 0 6px;
    background: transparent;
    color: @subtext0;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button:not(.empty) {
    color: @cyan; 
}

#workspaces button.active {
    color: @purple; 
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button:hover {
    background: transparent;
    color: @text; 
}